<section>
  <div class="container px-4 py-14 mx-auto">
    <div class="flex flex-col gap-10">
      <p class="bg-[#EDEFFF] p-3 rounded-xl">
        გადააწყდი საგზაო პრობლემებს თბილისში და გსურს ავტომობილის
        ტრანსპორტირება? ჩვენი ჯგუფი მაქსიმალურად სწრაფად გაჩნდება თქვენს
        ავტომობილთან და გაგიწევთ ნებისმიერი სახის საჭირო დახმარებას.
      </p>
      <img src="../../../assets/car.jpg" alt="car" />
    </div>
    <div class="flex flex-col gap-4 mt-10">
      <h2 class="text-2xl font-bold">
        ჩვენ გთავაზობთ ყველა საგზაო პრობლემის მოგვარებას
      </h2>
      <div class="offer-cards flex flex-col gap-5">
        <div
          class="card bg-[#EDEFFF] rounded-xl flex justify-between items-center gap-5 px-4 py-2"
        >
          <img
            class="w-12 h-12"
            src="../../../assets/towing-vehicle.png"
            alt="towing"
          />
          <div class="text max-w-[90%]">
            <h3 class="text-base font-semibold">ავტომობილის ტრანსპორტირება</h3>
            <p class="text-sm">
              დაზიანებული ავტომობილის ტრანსპორტირება ნებისმიერი ადგილიდან.
            </p>
          </div>
        </div>
        <div
          class="card bg-[#EDEFFF] rounded-xl flex justify-between items-center gap-5 px-4 py-2"
        >
          <img
            class="w-12 h-12"
            src="../../../assets/car-key.png"
            alt="towing"
          />
          <div class="text max-w-[90%]">
            <h3 class="text-base font-semibold">ავტომობილის გაღება</h3>
            <p class="text-sm">
              ჩვენ დაგეხმარებით ჩაკეტილი ავტომობილის კარის გაღებაში.
            </p>
          </div>
        </div>
        <div
          class="card bg-[#EDEFFF] rounded-xl flex justify-between items-center gap-5 px-4 py-2"
        >
          <img
            class="w-12 h-12"
            src="../../../assets/gas-pump.png"
            alt="towing"
          />
          <div class="text max-w-[90%]">
            <h3 class="text-base font-semibold">საწვავის ჩასხმა</h3>
            <p class="text-sm">
              დაგიმთავრდათ საწვავი? ჩვენი გუნდი მაქსიმალურად სწრაფად მოგაწვდით
              საწვავს ნებისმიერ ლოკაციაზე.
            </p>
          </div>
        </div>
        <div
          class="card bg-[#EDEFFF] rounded-xl flex justify-between items-center gap-5 px-4 py-2"
        >
          <img
            class="w-12 h-12"
            src="../../../assets/car-battery.png"
            alt="towing"
          />
          <div class="text max-w-[90%]">
            <h3 class="text-base font-semibold">ავტომობილის დაქოქვა</h3>
            <p class="text-sm">ჩვენ დაგეხმარებით ავტომობილის დაქოქვაში.</p>
          </div>
        </div>
        <div
          class="card bg-[#EDEFFF] rounded-xl flex justify-between items-center gap-5 px-4 py-2"
        >
          <img class="w-12 h-12" src="../../../assets/wheel.png" alt="towing" />
          <div class="text max-w-[90%]">
            <h3 class="text-base font-semibold">საბურავის შეცვლა</h3>
            <p class="text-sm">
              ჩვენ დაგეხმარებით დაზიანებული საბურავის შეცვლაში.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
