<footer class="bg-[#3F62DE] text-white pt-10">
  <div class="container lg:mx-auto">
    <div
      class="upper flex justify-center flex-col gap-10 items-center border-b border-gray-300 pb-5"
    >
      <h2 class="text-center text-2xl font-bold">
        გადაწყვიტეთ ჩვენთან თანამშრომლობა?
      </h2>
      <a href="tel:+9955551099999">
        <button
          class="bg-[#FFF212] border-none rounded-xl py-3 px-4 text-black font-bold"
        >
          <i class="fa-solid fa-phone fa-lg mr-3" style="color: #74c0fc"></i>
          571 820 820
        </button></a
      >
    </div>
    <div class="lower py-5">
      <p class="text-center text-sm font-medium">
        © 2024 • All Rights Reserved
      </p>
    </div>
  </div>
</footer>
