<section
  class="bg-[#3F62DE] min-h-[80svh] lg:min-h-fit lg:py-12 pt-7 border-none"
>
  <div
    class="hero-wrapper container text-white flex flex-col lg:flex-row gap-10 border-none px-4 lg:mx-auto"
  >
    <div
      class="text-wrapper flex flex-col justify-center items-center text-center gap-5"
    >
      <h1 class="text-3xl font-bold">ევაკუატორი გამოძახებით</h1>
      <h2 class="text-2xl font-semibold">საგზაო დახმარება</h2>
      <p class="text-lg">
        ავტო ექსპრესი მოგიგვარებთ ნებისმიერ საგზაო პრობლემას სწრაფად და
        ხელმისაწვდომ ფასად
      </p>
      <a href="https://msng.link/o/?571820820=wa"
        ><span class="text-2xl font-bold w-[9.575rem]"
          ><i class="fa-brands fa-whatsapp fa-xl" style="color: #25d366"></i>
          Whatsapp</span
        ></a
      >
      <a href="https://msng.link/o/?571820820=vi">
        <span class="text-2xl font-bold w-[9.575rem] text-left">
          <i class="fa-brands fa-viber fa-xl" style="color: #dfdcf2"></i>
          Viber</span
        ></a
      >
      <a href="tel:+995571820820">
        <button
          class="bg-[#FFF212] border-none rounded-xl py-3 px-4 text-black font-bold"
        >
          <i class="fa-solid fa-phone fa-lg mr-3" style="color: #74c0fc"></i>
          571 820 820
        </button></a
      >
    </div>
    <img class="lg:w-[45%]" src="../../../assets/test3.svg" alt="towing" />
  </div>
</section>
