<section class="lg:flex lg:flex-col lg:items-center">
  <div class="container pb-5 lg:w-fit">
    <h2 class="font-semibold text-2xl text-center mb-10">
      რატომ უნდა აგვირჩიოთ ჩვენ?
    </h2>
    <div
      class="reasons bg-[#3F62DE] text-white w-[90%] lg:w-fit mx-auto p-7 rounded-2xl flex flex-col gap-4 lg:flex-row lg:flex-wrap"
    >
      <div
        class="reason flex gap-5 justify-between lg:justify-start items-center lg:w-fit"
      >
        <i class="fa-solid fa-circle-check fa-2xl" style="color: #63e6be"></i>

        <p class="w-[16.25rem]">მრავალ წლიანი გამოცდილება ავტოინდუსტრიაში</p>
      </div>
      <div
        class="reason flex gap-5 justify-between lg:justify-start items-center lg:w-fit"
      >
        <i class="fa-solid fa-calendar-days fa-2xl" style="color: #74c0fc"></i>
        <p class="w-[16.25rem]">სწრაფი მომსახურება დღის ნებისმიერ მონაკვეთში</p>
      </div>
      <div
        class="reason flex gap-5 justify-between lg:justify-start items-center lg:w-fit"
      >
        <i class="fa-solid fa-money-bill fa-2xl" style="color: #ffd43b"></i>
        <p class="w-[16.25rem]">ყველასათვის ხელმისაწვდომი ფასები</p>
      </div>
      <div
        class="reason flex gap-5 justify-between lg:justify-start items-center lg:w-fit"
      >
        <i class="fa-solid fa-comment fa-2xl" style="color: #b197fc"></i>
        <p class="w-[16.25rem]">უფასო კონსულტაცია შეკვეთის გაფორმებამდე</p>
      </div>
    </div>
  </div>
</section>
